<ul>
  {{#each pokemon}}
    <li>
      <h3>{{ this.name }}</h3>
      <br>
      <img src="{{ this.img }}">
      <br>
      Type: {{ this.type }}
      <br>
      Stats
      <br>
      HP: {{ this.stats.hp }}
      <br>
      Attack: {{ stats.attack }}
      <br>
      Defense: {{ stats.defense }}
      <br>
      SP Attack: {{ stats.spattack }}
      <br>
      SP Defense: {{ stats.spdefense }}
      <br>
      Speed: {{ stats.speed }}

    </li>

  {{/each}}
</ul>
