<h1>Pirate Name: {{pirates.name}}</h1>
<ul>
	<li>Birthplace: {{pirates.birthplace}}</li>
	<li>Died: {{pirates.death_year}}</li>
	<li>Base: {{pirates.base}}</li>
	<li>Nickname: {{pirates.nickname}}</li>
</ul>